<nav class="navbar navbar-expand-sm navbar-light bg-info">
  <a class="navbar-brand" routerLink="">Cocktails</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link btn btn-secondary" routerLink="new-cocktail">New cocktail</a>
      </li>
    </ul>
  </div>
</nav>
