<div class="row mt-3">
  <div>
    <h4 class="my-3">All cocktails</h4>
    <div class="card-group">
      <div class="card" *ngFor="let cocktail of cocktails" style="width: 18rem;">
        <img [src]="cocktail.image" (click)="openCocktailDetails(cocktail)" class="card-img-top" [alt]="cocktail.name">
        <div class="card-body text-center">
          <h5 class="card-title">{{ cocktail.name }}</h5>
          <p class="card-text">Type: {{ cocktail.type }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-cocktail-details [isOpen]="cocktailDetailsOpen" (close)="closeCocktailDetails()">
  <div class="modal-body">
    <h3>{{ }}</h3>
    <p></p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="closeCocktailDetails()" >Close</button>
  </div>
</app-cocktail-details>

