<div class="row mt-3">
  <form [formGroup]="cocktailForm" (ngSubmit)="saveCocktail()">

    <h3>Create new cocktail</h3>
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        class="form-control"
        formControlName="name"
      />
      <small
        *ngIf="fieldHasError('name', 'required')"
        class="form-text invalid-form-text"
      >
        Enter name
      </small>
    </div>

    <div class="form-group">
      <label for="image">Image URL</label>
      <input
        type="text"
        id="image"
        class="form-control"
        formControlName="image"
      />
      <small
        *ngIf="fieldHasError('image', 'required')"
        class="form-text invalid-form-text"
      >
        Enter image URL
      </small>
      <small
        *ngIf="fieldHasError('image', 'imageUrl')"
        class="form-text invalid-form-text"
      >
        Image URL must begin ' http:// ' or ' https:// '
      </small>
    </div>

    <div class="form-group">
      <span class="d-block mb-2">Type of cocktail</span>
      <div>
        <label for="alcohol">Alcohol</label>
        <input
          type="radio"
          id="alcohol"
          formControlName="type"
          value="alcohol"
          class="mr-3 ml-2"
        />
        <label for="nonAlcohol">Non-alcohol</label>
        <input
          type="radio"
          id="nonAlcohol"
          class="ml-2"
          value="nonAlcohol"
          formControlName="type"
        />
        <small
          *ngIf="fieldHasError('type', 'required')"
          class="form-text invalid-form-text"
        >
          Choose one of type
        </small>
      </div>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        id="description"
        formControlName="description"
        class="form-control"
      >
      </textarea>
    </div>

    <div class="form-group" formArrayName="ingredients">
      <button
        type="button"
        class="btn btn-outline-info mb-3"
        (click)="addIng()"
      >
        Add
      </button>
      <div *ngFor="let ingControl of getIngControls(); let i = index">
        <div [formGroupName]="i" class="mb-3">
          <div class="form-inline">
            <input
              type="text"
              formControlName="ingName"
              class="form-control"
              placeholder="Ingredient name"
            />
            <input
              type="number"
              formControlName="amount"
              class="form-control"
              placeholder="Amount"
            />
            <select formControlName="unit">
              <option value=""></option>
              <option value="ml">ml</option>
              <option value="pcs">pcs</option>
              <option value="gr">gr</option>
            </select>
            <button (click)="removeIng(i)" type="button" class="btn btn-danger">x</button>
          </div>
          <small
            *ngIf="fieldHasError('ingName', 'required')"
            class="form-text invalid-form-text"
          >
            Enter ingredient name
          </small>
          <small
            *ngIf="fieldHasError('amount', 'required')"
            class="form-text invalid-form-text"
          >
            Enter amount
          </small>
          <small
            *ngIf="fieldHasError('unit', 'required')"
            class="form-text invalid-form-text"
          >
            Choose one of unit
          </small>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="instructions">Instructions</label>
      <textarea
        id="instructions"
        formControlName="instructions"
        class="form-control"
      ></textarea>
      <small
        *ngIf="fieldHasError('instructions', 'required')"
        class="form-text invalid-form-text"
      >
        Enter instructions
      </small>
    </div>

    <button
      class="btn btn-primary"
      [disabled]="cocktailForm.invalid"
    >
      Save
    </button>
  </form>
</div>
